


<h1><%= @trip.trip_name %></h1>
<h2><%= @trip.description %></h2>

<a href="/trips/<%= @trip.id %>/edit"><input type="button" value="Edit Trip"></a>


<form method="post" action="/trips/<%=@trip.id%>/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">

  <input type="submit" value="Delete Trip">
</form>
<br>

<% @user = current_user %>
<br>
<a href='/trips'>Go to Main Trip Listing</a> |
<a href="/users/<%= @user.slug %>">Take me to My Trips</a> |
<a href="/logout">Log Out</a>
