<h1>Welcome, <%= current_user.username %>!</h1>

<h2>Here's the list of our users Trips!</h2>

<% Trip.all.each do |trip| %>
<li><%= trip.trip_name %></li>
<p><%= trip.description %></p>
<p><%= trip.user_id %></p>
<% end %>
<br>
<% @user = current_user %>
<br>
<a href="/users/<%= @user.slug %>">My Trips</a>

<br>
<a href='/trips/new'>Create a New Trip</a>
<br>
<a href="/logout">Log Out</a>
